<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="delivery_product_list_styles">
	<th:block th:include="fragments/delivery_product :: delivery_product_styles"></th:block>
</head>
<body th:fragment="delivery_product_list">
	<div id="product-list-rows">
		<div id="product-list">
			<div th:id="'product' + ${tempProduct.product.id}" class="product row" th:each="tempProduct, iterStat: ${delivery.productList}" th:if="${iterStat.index}<3">
				<th:block th:include="fragments/delivery_product :: delivery_product"></th:block>
			</div>
				
			<div class="show-all-products" th:classappend="${showAllProducts || #lists.size(delivery.productList)<3 ? 'hidden' : ''}" th:if="${!showAllProducts}">
				<p class="mb-0" th:onclick="'javascript:showAllProducts(\'' + ${delivery.id} +'\');'">Show all</p>
			</div>
			
			<div th:id="'product' + ${tempProduct.product.id}" class="product row" th:each="tempProduct, iterStat: ${delivery.productList}" th:if="${iterStat.index}>=3" th:classappend="${showAllProducts ? '' : 'hidden'}">
				<th:block th:include="fragments/delivery_product :: delivery_product"></th:block>
			</div>
		</div>
	</div>
	
	<script>
		function showAllProducts(pId){
			if(!($("#delivery"+pId+" .show-all-products").hasClass("hidden"))){
				$("#delivery"+pId+" .show-all-products").addClass("hidden");
			}

			$("[id^=product]").removeClass("hidden");
		}
	</script>
</body>
</html>