<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:include="fragments/head :: head"></th:block>
		
		<style>
			.main{
				position: relative;
				height:100vh;
			}
			
			.content{
				margin:auto;
				width:900px;
				text-align:center;
				padding: 5em 2em;
				background-color:lightblue;
				margin: 0;
				position: absolute;
				top: 35%;
				left: 50%;
				-ms-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
			}
	
			.content h2{
				margin-bottom:2em;
			}
		</style>
	</head>	
	
	<body>		
		<div class="main">
			<div class="content">
				<h2>Welcome to admin menu</h2>
		
				<p>No content here yet.</p>
			</div>
		</div>
	
		<th:block th:include="fragments/scripts :: scripts"></th:block>
	</body>
</html>