<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:include="fragments/head :: head"></th:block>
		<th:block th:include="fragments/header :: header_styles"></th:block>
		<th:block th:include="fragments/footer :: footer_styles"></th:block>
	</head>
	<body>
		<th:block th:include="fragments/header :: header"></th:block>
		
		<main class="wrap wrap-small">
			<h1 th:text="'Change Password'"></h1>
			
			<form id="change_password_form" action="#" th:action="@{/user/changePassword}" method="post">
				<div class="form-group">
					<label for="old-pass">Old Password:</label>
					<input type="password" class="form-control" id="old-pass" placeholder="Enter old password" th:name="oldPassword">
				</div>
				
				<div class="form-group">
					<label for="new-pass">New Password</label>
					<input type="password" class="form-control" id="new-pass" placeholder="Enter new password" th:name="newPassword">
				</div>
				
				<div class="form-group">
					<label for="new-pass-2">Repeat New Password</label>
					<input type="password" class="form-control" id="new-pass-2" placeholder="Repeat new password" th:name="repeatNewPassword">
				</div>			
			</form>
				
			<div class="text-right">
				<button class="btn btn-secondary" onclick="window.location.href = '/user/'">Go back</button>
				<button type="submit" class="btn btn-primary" onclick="document.querySelector('#change_password_form').submit()" th:text="'Change Password'"></button>
			</div>
			
		</main>
				
	
		<th:block th:include="fragments/footer :: footer"></th:block>
		<th:block th:include="fragments/scripts :: scripts"></th:block>

	</body>

</html>