<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:include="fragments/head :: head"></th:block>
		
		<style>
			#confirm-delivery-main{
				position: relative;
				height:100vh;
			}
			
			#confirm-delivery-content{
				margin:auto;
				width:900px;
				text-align:center;
				padding: 5em 2em;
				background-color:lightblue;
				margin: 0;
				position: absolute;
				top: 35%;
				left: 50%;
				-ms-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
			}
	
			#confirm-delivery-content h2{
				margin-bottom:2em;
			}
		</style>
	</head>
	
	<body>
	
		<div id="confirm-delivery-main">
			<div id="confirm-delivery-content">
				<h2>Delivery confirmed</h2>
				
				<a href="/">Click here to return home</a>
			</div>
		</div>
	
		<th:block th:include="fragments/scripts :: scripts"></th:block>
		
		<script>
			$(document).ready(function () {
				localStorage.setItem("productsInCart", JSON.stringify([]));
			});
		</script>
	</body>
</html>