<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:include="fragments/head :: head"></th:block>
		<th:block th:include="fragments/header :: header_styles"></th:block>
		<th:block th:include="fragments/footer :: footer_styles"></th:block>
		<th:block th:include="fragments/delivery_product_list :: delivery_product_list_styles"></th:block>
		
		<style>			
			main #delivery-name{
				border: 1px solid #DCDCDC;
			    border-bottom: 0;
			    padding: 0.5em 2em;
			}
			
			main .delivery-name .delivery-id{
				font-size: 2em;
			}
		</style>
		
	</head>
	
	<body>
		<th:block th:include="fragments/header :: header"></th:block>
	
		<main class="wrap">
			<div th:id="'delivery' + ${delivery.id}" th:each="delivery: ${deliveries}" class="mb-5">
				<div class="delivery-name d-flex flex-column">				
					<p class="delivery-id mb-0" th:text="'Order #' + ${delivery.id} + '   -   Total price: ' + ${#numbers.formatDecimal(delivery.productTotalCost, 0, 'COMMA', 2, 'POINT') + '€'}"></p>
					<p class="mb-0" th:text="'Order date: ' + ${#dates.format(delivery.deliveryOrderDate, 'dd/MM/yyyy')}"></p>
				</div>
				
				<th:block th:include="fragments/delivery_product_list :: delivery_product_list"></th:block>
			</div>
			
			<div class="no-results" th:if="${deliveries.size() == 0}">
				<p>No results found</p>
			</div>
			
			<div class="text-right mt-4">
				<button class="btn btn-secondary" onclick="window.location.href = '/user/'">Go back</button>
			</div>
		</main>
	
		<th:block th:include="fragments/footer :: footer"></th:block>
		<th:block th:include="fragments/scripts :: scripts"></th:block>
	</body>
</html>