<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:include="fragments/head :: head"></th:block>
		
		<style>
			#error-main{
				position: relative;
				height:100vh;
			}
			
			#error-content{
				margin:auto;
				width:900px;
				text-align:center;
				margin: 0;
				position: absolute;
				top: 35%;
				left: 50%;
				-ms-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
			}
	
			#error-content h2{
				margin-bottom:2em;
			}
		</style>
	</head>	
	
	<body>		
		<div id="error-main">
			<div id="error-content">
				<h2>An unexpected error happened!</h2>
		
				<a href="/">Click here to return home</a>
			</div>
		</div>
	
		<th:block th:include="fragments/scripts :: scripts"></th:block>
	</body>
</html>