<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:include="fragments/head :: head"></th:block>
		<th:block th:include="fragments/header :: header_styles"></th:block>
		<th:block th:include="fragments/footer :: footer_styles"></th:block>
		<th:block th:include="fragments/product_cols :: product_cols_styles"></th:block>
		<th:block th:include="fragments/product_rows :: product_rows_styles"></th:block>
	</head>
	
	<style>
		.no-results{
		    border-top: 2.5px solid black;
		    border-bottom: 2.5px solid black;
		    padding-top: 2em;
		    padding-bottom: 2em;
		    text-align: center;
		    margin-top: 2em;
		    margin-bottom: 2em;
		}
		
		.no-results p{
			margin-bottom: 0 !important;
		}
		
		.see-full-list{
			text-align:right;
		}
	</style>
	<body>
	
		<th:block th:include="fragments/header :: header"></th:block>
		
		<main class="wrap">
		
			<form id="productsInCartForm">
				<input id="deliveryId" th:name="deliveryId" type="hidden" />
			</form>
			
			<div class="see-full-list" th:if="${showingSearchResult}">
				<a href="/products/" th:if="showingSearchResult">See full product list</a>
			</div>
			
			<div class="no-results" th:if="${products.size() == 0}">
				<p>No results found</p>
			</div>
			
			<th:block th:include="fragments/product_cols :: product_cols"></th:block>
			<th:block th:include="fragments/product_rows :: product_rows"></th:block>
		
			<div class="page-buttons text-right">
				<button class="btn btn-success" onclick="createDelivery('/delivery/checkout')">Proceed to checkout</button>
			</div>
			
		</main>
		
		<th:block th:include="fragments/footer :: footer"></th:block>
		<th:block th:include="fragments/scripts :: scripts"></th:block>
	
		<script>			
			$(document).ready(function () {
				displayProductsSizeAccordingly();
				loadProductsFromCart();
			});
			
			$( window ).resize(function() {
				displayProductsSizeAccordingly();
			});
			
			function displayProductsSizeAccordingly(){				
				if($( window ).width()>600){
					if($("#product-list-cols").hasClass("hidden")){
						$("#product-list-cols").removeClass("hidden");
					}
					
					if(!$("#product-list-rows").hasClass("hidden")){
						$("#product-list-rows").addClass("hidden");
					}
				}else{
					if(!$("#product-list-cols").hasClass("hidden")){
						$("#product-list-cols").addClass("hidden");
					}
					
					if($("#product-list-rows").hasClass("hidden")){
						$("#product-list-rows").removeClass("hidden");
					}
				}
			}
		</script>
	</body>
</html>