<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:include="fragments/head :: head"></th:block>
		<th:block th:include="fragments/header :: header_styles"></th:block>
		<th:block th:include="fragments/footer :: footer_styles"></th:block>
		<th:block th:include="fragments/product_cols :: product_cols_styles"></th:block>
		<th:block th:include="fragments/product_rows :: product_rows_styles"></th:block>
	</head>
	<body>
	
		<th:block th:include="fragments/header :: header"></th:block>
		
		<main class="wrap">
		
			<form id="productsInCartForm">
				<input id="deliveryId" th:name="deliveryId" type="hidden" />
			</form>
			
			<th:block th:include="fragments/product_cols :: product_cols"></th:block>
			<th:block th:include="fragments/product_rows :: product_rows"></th:block>
		
			<div class="page-buttons text-right">
				<button class="btn btn-success" onclick="checkout()">Proceed to checkout</button>
			</div>
			
		</main>
		
		<th:block th:include="fragments/footer :: footer"></th:block>
		<th:block th:include="fragments/scripts :: scripts"></th:block>
	
		<script 
			src="../static/js/products.js"
			th:src="@{/js/products.js}">
		</script>
	
		<script>			
			$(document).ready(function () {
				displayProductsSizeAccordingly();
				loadProductsFromCart();
			});
			
			$( window ).resize(function() {
				displayProductsSizeAccordingly();
			});
			
			function displayProductsSizeAccordingly(){
				console.log($( window ).width());
				
				if($( window ).width()>600){
					if($("#product-list-cols").hasClass("hidden")){
						$("#product-list-cols").removeClass("hidden");
					}
					
					if(!$("#product-list-rows").hasClass("hidden")){
						$("#product-list-rows").addClass("hidden");
					}
				}else{
					if(!$("#product-list-cols").hasClass("hidden")){
						$("#product-list-cols").addClass("hidden");
					}
					
					if($("#product-list-rows").hasClass("hidden")){
						$("#product-list-rows").removeClass("hidden");
					}
				}
			}
		</script>
	</body>
</html>