<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:include="fragments/head :: head"></th:block>
		<th:block th:include="fragments/header :: header_styles"></th:block>
		<th:block th:include="fragments/footer :: footer_styles"></th:block>
		<th:block th:include="fragments/address_list :: address_list_styles"></th:block>
		<th:block th:include="fragments/credit_card_list :: credit_card_list_styles"></th:block>
		
		<style>			
			main .btn{
				width:14em;
				border: 1px solid black;
			}
			
			main .logged-in{
				border: 1px solid black;
			    border-radius: 20px;
			    padding: 1.5em;
			}
		</style>
	</head>
	
	<body>
		<th:block th:include="fragments/header :: header"></th:block>
	
		<main class="wrap">
			<div class="logged-in mt-5 mb-5">
				<div class="d-flex justify-content-between align-items-center">
					<p class="mb-0">Logged in as: <span class="username" th:text="${name}"></span></p>
					<div class="d-flex flex-column">
						<button class="btn btn-primary" onclick="window.location.href = 'deliveryHistory/'">Delivery History</button>
						<button th:if="${isAdmin}" class="btn btn-primary mt-2" onclick="window.location.href = '/admin/'">Admin menu</button>
						<button class="btn btn-danger mt-2" onclick="logout()">Logout</button>
					</div>
				</div>
			</div>
		
			<th:block th:include="fragments/edit_profile :: edit_profile"></th:block>
			<th:block th:include="fragments/address_list :: address_list"></th:block>
			<th:block th:include="fragments/credit_card_list :: credit_card_list"></th:block>
			
			<div class="text-right mt-4">
				<button id="backBtn" class="btn btn-secondary" onclick="window.location.href = '/products/'">Go back</button>
				<button id="confirmBtn" class="btn btn-success" onclick="createDelivery('/delivery/checkout')">Proceed to Checkout</button>
			</div>
		</main>
	
		<th:block th:include="fragments/footer :: footer"></th:block>
		<th:block th:include="fragments/scripts :: scripts"></th:block>
	
		<script>
		$(document).ready(function () {
			$(".address").click(function(){
				$(".address.selected").removeClass("selected");
				$(this).addClass("selected");
			});
		
			$(".account").click(function(){
				$(".account.selected").removeClass("selected");
				$(this).addClass("selected");
			});
		});
		
		function logout(){
			$.ajax({ 
				url: '/logout',
			    success: function(){
			        window.location.href = '/login';
		    	}
			});
		}
		</script>
	</body>
</html>